* {
  margin: 0;
  padding: 0;
}

.App {
  font-family:'Courier New', Courier, monospace;
  background-color: #000000;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 15px;
  gap: 15px;
  align-items: center;
}

.App-link {
  color: #ffffff;
}

.title {
  color: #e53939;
  font-size: 2rem;
}

.subtitle {
  color: #e53939;
  font-size: 1.6rem;
}

.about {
  font-size: 1.3rem;
  text-align: justify;
}

.perfil-logo {
  width: 250px;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  border-color: #e53939;
}

@media (max-width: 600px) {
  .title {
    font-size: 1.3rem;
  }
  .subtitle {
    font-size: 1rem;
  }
  .perfil-logo {
    width: 200px;
  }
  .about {
    font-size: 1rem;
  }
}