* {
  margin: 0;
  padding: 0;
}


.App {
  font-family:'Courier New', Courier, monospace;
  background-color: #000000;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 15px;
  gap: 15px
}

.App-link {
  color: #ffffff;
}

.title {
  align-self: center;
  color: #e53939;
  font-size: 2.5rem;
}

.subtitle {
  align-self: center;
  color: #e53939;
  font-size: 2rem;
}

.perfil-logo {
  width: 300px;
}